<h1>Hair Salon</h1>

<h3>Edit a client - editing @Model["client"].GetName()</h3>

<form action='/stylists/@Model["stylist"].GetId()/clients/edit' method='post'>
  <input type="hidden" name="_method" value="PATCH">
  <input value='@Model["client"].GetId()' name='clientEditId' type='hidden'>
  <label for="newName">New Client Name:</label>
  <input name="newName">

  <button type="submit">Edit client!</button>
</form>
