<h1>Hair Salon</h1>

<h3>Stylists:</h3>
<ul>
@foreach (var stylist in Model["stylists"])
{
  <li><a href="/stylists/@stylist.GetId()">@stylist.GetName()</a></li>
}
</ul>

<h3>Add new stylist:</h3>
<form action="/stylists/new" method="post">
  <label for="stylistName">Stylist Name:</label>
  <input name="stylistName">

  <button type="submit">Add new stylist!</button>
</form>
