<h1>Hair Salon</h1>

<h3>Stylists:</h3>
<ul>
@if (Model["stylists"].Count != 0)
{
  @foreach (var stylist in Model["stylists"])
  {
    <li><a href="/stylists/@stylist.GetId()">@stylist.GetName()</a></li>
    <form action="/stylists/edit/" method="post">
      <input name="stylistName" value=@stylist.GetId() type="hidden">
      <button type="submit">Edit</button>
    </form>
    <form action="/stylists/delete/" method="post">
      <input type="hidden" name="_method" value="DELETE">
      <input name="stylistName" value=@stylist.GetId() type="hidden">
      <button type="submit">Remove</button>
    </form>
  }
}
else
{
  <p>No stylists.</p>
}
</ul>

<h3>Add new stylist:</h3>
<form action="/stylists/new" method="post">
  <label for="stylistName">Stylist Name:</label>
  <input name="stylistName">

  <button type="submit">Add new stylist!</button>
</form>

<!-- <h3>Delete a stylist:</h3>
<form action="/stylists/delete/" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <select name="stylistName">
    @foreach (var stylist in Model["stylists"])
    {
      <option value=@stylist.GetId()>@stylist.GetName()</option>
    }
  </select>
  <button type="submit">Remove</button>
</form> -->

<!-- <h3>Edit a stylist:</h3>
<form action="/stylists/edit/" method="post">
  <select name="stylistName">
    @foreach (var stylist in Model["stylists"])
    {
      <option value=@stylist.GetId()>@stylist.GetName()</option>
    }
  </select>
  <button type="submit">Edit</button>
</form> -->
