<h1>Hair Salon</h1>

<h3>Edit a stylist - editing @Model.GetName()</h3>

<form action="/stylists/@Model.GetId()/edit" method="post">
  <input type="hidden" name="_method" value="PATCH">
  <label for="newName">New Stylist Name:</label>
  <input name="newName">

  <button type="submit">Edit stylist!</button>
</form>
